<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserDao">
    <select id="findUserByEmail" resultType="User">
        select * from tbl_user u where email=#{email};
    </select>

    <select id="findUserById" resultType="User">
        select * from tbl_user u where id=#{id};
    </select>

    <select id="findUserByName" resultType="User">
        select * from tbl_user u where username=#{username};
    </select>

    <!--
    <insert id="insertAppointment">
        &lt;!&ndash; ignore 主键冲突，报错 &ndash;&gt;
        INSERT ignore INTO appointment (book_id, student_id)
        VALUES (#{bookId}, #{studentId})
    </insert>
    -->
</mapper>